version: "3"

services:
    db: 
        image: postgres:latest
        container_name: pg-db
        environment:
            POSTGRES_DB: tasks_db
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: dalmada2
        ports:
            - "5433:5432"
        volumes: 
            - postgres_data:/var/lib/postgresql



    web:
        depends_on: 
            - db
        build: .

        ports:
        - 80:80

volumes:
    postgres_data: